.myBtn {
    width: 15%;
    height: 70%;
    background-color: #3b9d46;
    background-image: linear-gradient(to right, #7dc242, #3b9d46);
    border: 0px solid #3c9e47;
    border-radius: 30px;
    color:white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    font-size: 16px;
}

.myBtn:hover {
    color: black;
}

.menuItem {
    padding: 1rem;
    border: 0px solid #3c9e47;
    border-radius: 30px;
    font-size: 16px;
    color: black;
    font-weight: bold;
    margin-left: 40px;
    display: flex;
    align-items: center;
    height: 70%;
}

.menuItem:hover {
    background-color: #0b6d16;
    color: white;
}